#p1{
color: rgb(116, 116, 201);


}


#subrayado {
    color: rgb(255, 0, 0);
    text-decoration: underline;             
    text-decoration-color: rgb(255, 0, 0);  

}

#resaltado {
  background-color: #fff9a6; 
}




#resaltado2 {
  background-color: #ec814f; 
}

-------------------------------------

#titulo{
color: rgb(115, 197, 149);


}