* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BLOQUEO SCROLL */
html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 209, 209);
}

/* LAYOUT GENERAL */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    height: 12vh;
    background-color: rgba(219, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo {
    height: 110%;
}

.menu a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 500;
}


.menu a:hover {
    text-decoration: underline;
}

/* TITULO */
.titulo {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 60px;
    color: rgb(149, 0, 0);
}

.titulo p {
    font-size: 22px;
    color: rgb(84, 84, 84);
}

/* CATALOGO */
.catalogo {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 80px;
    align-items: center;
}

.producto:hover {
    transform: translateY(-15px);
    transform: scale(1.09);
}
/* TARJETAS */
.producto {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
    
}



.producto img {
    width: 160px;
    margin-bottom: 20px;
}

.producto h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(149, 0, 0);
}

.producto p {
    font-size: 16px;
    color: rgb(90, 90, 90);
    margin-bottom: 15px;
}

.precio {
    font-size: 22px;
    font-weight: 600;
}

/* FOOTER */
.footer {
    height: 8vh;
    background-color: rgba(217, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

