* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 209, 209);
    font-family: 'Montserrat', sans-serif;
}


/* LAYOUT */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    height: 12vh;
    background-color: rgba(219, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo {
    height: 110%;
}

.menu a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}

/* TITULO */
.titulo {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 60px;
    color: rgb(149, 0, 0);
}

.titulo p {
    font-size: 22px;
    color: rgb(84, 84, 84);
}

/* INFO */
.info {
    flex: 1;
    display: flex;
    gap: 60px;
    padding: 40px 80px;
    align-items: center;
}

.info-texto {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.info-texto h2 {
    font-size: 32px;
    color: rgb(149, 0, 0);
    margin-bottom: 10px;
}

.info-texto p {
    font-size: 18px;
    color: rgb(90, 90, 90);
    margin-bottom: 25px;
}

/* MAPA */
.mapa iframe {
    border-radius: 25px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

/* FOOTER */
.footer {
    height: 8vh;
    background-color: rgba(217, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
