* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* ================= HEADER ================= */
.header {
    width: 100%;
    height: 15%;
    background-color: rgba(219, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

/* LOGO */
.logo {
    height: 80%;
    margin-left: 150px;
}

/* MENU */
.menu {
    display: flex;
    align-items: center;
    
}

.menu a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 80px;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
    color: red;
}

/* ================= CONTENT ================= */
.content {
    
    width: 100%;
    height: 70%;
    background-color: rgb(255, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TEXTOS */
.texto1 {
    margin-top: 160px;
    font-size: 150px;
    color: rgb(149, 0, 0);
}

.texto2 {
    font-size: 160px;
    margin-top: 10px;
}

.texto3 {
    font-size: 60px;
    color: rgb(84, 84, 84);
    margin-top: 10px;
}

/* IMAGEN CENTRAL */
.empieza {
    margin-top: 40px;
}

.empieza:hover{
    transform: scale(1.35);
}

.empieza img {
    width: 800px;
    height: 550px;
}

/* ================= FOOTER ================= */
.footer {
    width: 100%;
    height: 15%;
    background-color: rgba(217, 217, 217, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* ICONOS REDES */
.footer img {
    width: 80px;
    height: 80px;
   
}


.emp{
    color: red ;
}