body{
    background-color: black;

}

.azul{
    color: aqua;
    text-align: center;
}

.uno td{
    width: 600px;
    height:50px ;
    background-color: azure;
    text-align: center;
}


.dos td{
    width: 600px;
    height:200px ;
    background-color: azure;
    text-align: center;
}