.contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 15px;

  width: 1000px;
  height: 800px;
  margin: auto;
}

.mi-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CÍRCULOS → 2 columnas / 6 filas */
.circulos {
  grid-column: 1 / 3;
  grid-row: 1 / 7;
}

/* BLOG → 1 columna / 3 filas */
.blog {
  grid-column: 1 / 2;
  grid-row: 7 / 10;
}

/* ANDROID → 1 columna / 5 filas */
.android {
  grid-column: 1 / 2;
  grid-row: 10 / 15;
}

/* CHROME → 2 columnas / 4 filas */
.chrome {
  grid-column: 2 / 4;
  grid-row: 7 / 11;
}

/* GMAIL → 3 columnas / 3 filas */
.gmail {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
}
