*{
  margin: 0;
  padding: 0;
}



.contenido {
  display: grid;
  gap: 5px;
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: rgb(205, 184, 255);

  grid-template-areas:"circulos   circulos    gmail       mapas "
                      "circulos   circulos    gmail       mapas"
                      "circulos   circulos    gmail       mapas"
                      "circulos   circulos    gmail       mapas"
                      "circulos   circulos    gmail       mapas"
                      "circulos   circulos    gmail       mapas"
                      "circulos   circulos    news        mapas"
                      "blog       chrome      news        mapas"
                      "blog       chrome      news        search"
                      "blog       chrome      news        search"
                      "blog       chrome      earth       search"
                      "android    chrome      earth       search"
                      "android    chrome      earth       youtube"
                      "android    cascos      earth       youtube"
                      "android    cascos      earth       youtube"
                      "android    cascos      earth       youtube";
}

.circulos{
  grid-area: circulos;
  background-color: white;
}


.blog{
  grid-area: blog;
  background-color: rgb(230, 92, 0);
  
}

.blo{
    background-color: rgb(165, 68, 4);
    
    
}
.android{
  grid-area: android;
  background-color: rgb(116, 173, 29);
}


.chrome{
  grid-area: chrome;
  background-color: rgb(184, 46, 46);
}

.cascos{
  grid-area: cascos;
  background-color: yellow;
}



.gmail{
  grid-area: gmail;
  background-color: aquamarine;
}



.news{
  grid-area: news;
  background-color: rgb(144, 189, 107);
}


.earth{
  grid-area:earth;
  background-color: blue;
}



.maps{
grid-area: mapas;
background-color: chocolate;
}


.buscar{
  grid-area: search;
  background-color: rgb(126, 126, 255);
}





.youtube{
  grid-area: youtube;
  background-color: rgb(100, 27, 27);
}


