*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contenido {
  display: grid;
  gap: 5px;
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  grid-template-areas:
    "circulos circulos gmail mapas"
    "circulos circulos gmail mapas"
    "circulos circulos gmail mapas"
    "circulos circulos gmail mapas"
    "circulos circulos gmail mapas"
    "circulos circulos gmail mapas"
    "circulos circulos news mapas"
    "blog chrome news mapas"
    "blog chrome news search"
    "blog chrome news search"
    "blog chrome earth search"
    "android chrome earth search"
    "android chrome earth youtube"
    "android cascos earth youtube"
    "android cascos earth youtube"
    "android cascos earth youtube";
}

/* TODAS LAS CAJAS */
.circulos,
.gmail,
.maps,
.chrome,
.news,
.buscar,
.android,
.cascos,
.earth,
.youtube{
  display: flex;
  flex-direction: column;
}

/* BLOG  */
.blog{
  grid-area: blog;
  background-color: rgb(230, 0, 134);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconblog{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.25);
}

.blogtxt{
  background-color: rgb(124, 81, 0);
  padding: 10px;
  color: white;
}

/* PARTE SUPERIOR IMAGEN */
.img{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.3);
}

/* IMÁGENES  */
.img img{
  max-width: 35%;
}

/* PARTE INFERIOR TEXTO */
.txt{
  height: 50%;
  padding: 12px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.2);
  color: white;
}


/* CASO ESPECIAL CIRCULOS */

.circulos{
  grid-area: circulos;
  background-color: white;
  position: relative;
  color: black;
}

.circulos .img{
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}

.circulos .img img{
  max-width: 25%;
}
.circulos .txt{
  position: absolute;
  top: 15px;
  left: 15px;
  color: black;
  background-color: transparent;
  height: auto;
  width: auto;
  padding: 0;
}


/* ÁREAS Y COLORES */
.gmail{
  grid-area: gmail;
  background-color: aquamarine;
  color: black;
}

.maps{
  grid-area: mapas;
  background-color: rgb(253, 137, 55);
}

.chrome{
  grid-area: chrome;
  background-color: rgb(184, 46, 46);
}

.news{
  grid-area: news;
  background-color: rgb(144, 189, 107);
}
.search{
  grid-area: search;
  background-color: rgb(126, 126, 255);
  display: flex;
  flex-direction: column;
}

.android{
  grid-area: android;
  background-color: rgb(116, 173, 29);
}

.cascos{
  grid-area: cascos;
  background-color: yellow;
  color: black;
}

.earth{
  grid-area: earth;
  background-color: blue;
}

.youtube{
  grid-area: youtube;
  background-color: rgb(100, 27, 27);
}

h3{
color: rgb(34, 25, 36);
font-size: 20px;

}