.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 600px;
  height: 600px;
}


.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: blueviolet;
}

.item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
   background-color: blueviolet;
}

.item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
   background-color: blueviolet;
}

.item4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
   background-color: blueviolet;
}

.item5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
   background-color: blueviolet;
}

.item6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
   background-color: blueviolet;
}
