.container {
  display: grid;
  gap: 3px;
  width: 600px;
  height: 450px;
  text-align: center;
  grid-template-areas:"HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD"
                      "MEN MEN MEN MEN CONTEN CONTEN CONTEN CONTEN CONTEN CONTEN   "
                      "MEN MEN MEN MEN CONTEN CONTEN CONTEN CONTEN CONTEN  CONTEN  "
                      "FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  FOOTER FOOTER FOOTER";
}

.head{
    grid-area: HEAD;
    background-color: aqua;
}


.menu{
    grid-area: MEN;
        background-color: rgb(171, 254, 36);
}


.content{
     grid-area: CONTEN;
         background-color: rgb(222, 53, 135);
}


.footer{
    grid-area: FOOTER;
        background-color: rgb(255, 0, 0);
}

