#rojo {
    background-color: red;
    display: inline-block;
    width: 460px;
    height: 250px;
}

#verde {
    background-color: rgb(0, 128, 0);
    display: inline-block;
    width: 230px;
    height: 120px;
}

#amarillo {
    background-color: yellow;
    display: inline-block;
    width: 230px;
    height: 120px;
}


#azul {
    background-color: rgb(0, 0, 255);
    width: 230px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: 210px;
    left: 472px;
}


#morado {
    background-color: rgb(187, 0, 255);
    width: 230px;
    height: 120px;
    display: inline-block;
    position: absolute;
     top: 210px;
    left: 705px;

}











#bloque{
    clear: both;
    margin-top: 40px;
}

#rojo2, #verde2, #azul2{
    width: 300px;
    height: 120px;
    float:left;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

#rojo2{ background:red; }
#verde2{ background:green; }
#azul2{ background:blue; }







/* #rojo1{
    background-color: rgb(255, 66, 52);
    width: 460px;
    height: 250px;
    float:left;
    padding: 20px;
    box-sizing: border-box;
}

#verde1{
    background-color: rgb(0, 128, 0);
    width: 230px;
    height: 120px;
    float:left;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#amarillo1{
    background-color: yellow;
    width: 230px;
    height: 120px;
    float:left;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.cajagrande{
    float:right;
}
.clear{
    clear: both;
}



#azul1{
    background-color: blue;
    width: 230px;
    height: 120px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#morado1{
    background-color: purple;
    width: 230px;
    height: 120px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#bloque{
    clear: both;
    margin-top: 40px;
}

#rojo2, #verde2, #azul2{
    width: 300px;
    height: 120px;
    float:left;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

#rojo2{ background:red; }
#verde2{ background:green; }
#azul2{ background:blue; } */