#header{
    background-color: rgb(35, 151, 204);
    color: aliceblue;
    text-align: center;
    padding: 35px;
    margin: 10px;
}

#bloque{
    clear: left;
    margin: 10px;
}

#sidebar{
    background-color: rgb(4, 155, 155);
    color: aliceblue;
    margin: 5px;
    padding: 35px;

    
    width: 75px;
    height: 213px;
    margin-top: 0px;
    margin-right: 20px;

    text-align: center;
    float: left;
}

#contenido1{
    background-color: rgb(0, 205, 178);
    color: aliceblue;
    text-align: center;
    padding: 35px;

    margin-left: 160px;
    margin-top: 10px;
    margin-right: 10px;
}

#contenido2{
    background-color: rgb(2, 255, 187);
    color: aliceblue;
    text-align: center;
    padding: 35px;

    margin-left: 160px;
    margin-top: 10px;
    margin-right: 10px;
}

#contenido3{
    background-color: rgb(255, 238, 2);
    color: aliceblue;
    text-align: center;
    padding: 35px;

    margin-left: 160px;
    margin-top: 10px;
    margin-right: 10px;
}

#footer{
    background-color: rgb(0, 31, 206);
    color: aliceblue;
    text-align: center;
    padding: 35px;
    margin: 10px;
    clear: both;
}
