div { position: absolute; }
#capa_1 { z-index: 38; top: 27em; left: 38em;}          

#capa_2 { z-index: 30; top: 20em; left: 27em;}   

#capa_3 { z-index: 25; top: 20em; left: 13em;}

#capa_4 { z-index: 25; top: 12em; left: 15em;}

#capa_6 { z-index: 40; top: 2em; left: 30em;}    

