.caja{
  width: 480px;
  height: 80px;
  border: 1px solid rgb(143, 12, 160);
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  
}

.cajitas{
 
 margin-left: 20px;
 margin-right: 20px;
}
