.caja{
        width: 350px;
        height: 500px;
        border: 1px solid rgb(143, 12, 160);
        display: flex;
        flex-direction: column;

}



.header{
background-color: rgb(231, 231, 231);
flex: 0 0 100px;
}

.main{
flex:  1;
background-color: rgb(134, 134, 134);
}

.footer{
flex: 0 0 100px;
background-color: orange;

}