.caja{
display: flex;
flex-wrap: wrap;
width: 504px;
height: 500px;
border: 1px solid rgb(143, 12, 160);

}


.cajita1{
width: 500px;
height: 165px;
order: 0;
border: 1px solid rgb(143, 12, 160);
   



}

.cajita2, .cajita3{
width: 250px;
height: 165px;
order: 1;
border: 1px solid rgb(143, 12, 160);
}


.cajita4, .cajita5{
width: 250px;
height: 165px;
order: 2;
border: 1px solid rgb(143, 12, 160);
}


.foto{
    background-color: gray;
    height: 50px;
    margin: 0.5em;
}

p{
margin: 0.5em;

}
